table {
    display: inline-table;
    border-collapse: collapse;
    width: 20%;
    border-radius: 10px;
}

td {
    border: 1px solid rgb(150, 150, 150);
    padding: 10px;
    text-align: center;
}

.black {
    background-color: black;
    color: white;
    text-align: right;
    height: 50px;
}

.grey {
    background-color: rgb(197, 197, 197)
}

.orange {
    background-color: rgb(255, 115, 0)
}